{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ім'я</th>
                <th>Рік закінчення навчання</th>
                <th>Групи</th>
                <th>Функції</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>
                        <a href="{% url 'student_edit' pk=student.id %}">
                            {{ student.first_name }}
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                    </td>
                    <td>{{ student.year }}</td>
                    <td>
                        {% for group in student.groups.all %}
                            <span class="tag">{{ group.name }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'student_delete' pk=student.id %}">
                            Видалити
                            <i class="fa-regular fa-circle-xmark"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <a href="{% url 'student_form' %}" class="tag">
        Додати студента
    </a>
{% endblock %}